allow system_server persist_file:dir { read write };
allow system_server proc_touchpanel:dir search;
allow system_server proc_touchpanel:file rw_file_perms;
allow system_server sensors_persist_file:file r_file_perms;
allow system_server sensors_persist_file:dir search;
allow system_server proc_stat:file r_file_perms;
allow system_server unlabeled:file unlink;
allow system_server user_profile_data_file:dir rw_dir_perms;
allow system_server sysfs_fpc_utouch_disable:file rw_file_perms;
get_prop(system_server, diag_prop);

